<!DOCTYPE html>

<!-- static 폴더의 데이터 활용하기 -->
{% load static %}

<html>
<!-- 브라우저에서 html 실행 시 가장 먼저 읽어 들이는 곳-->
<!-- Javascript, css 등의 처리를 기본적으로 수행 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<head>
    <title>::: 페이지 :::</title>
</head>
<!-- 몸체 부분 -->
<!-- 브라우저에 보이는 영역 -->

<body>
    <!-- 메뉴 만들기 -->
    <!-- 링크 주소는 urls.py의 URL과 동일하게 작성...-->
    <nav>
        <a href="/mini2/first">[지도]</a>
    </nav>
    
    <h1>SEOUL</h1>

    <a href="https://www.visitbusan.net/kr/index.do"></a>

    {% include 'mini2app/frontend/bootstrap_nav.html' %}
    <!-- 수평선 그리기 : 시작태그와 끝태그 없이 시작과 동시에 끝...-->
    <hr/>

    <!-- 이미지 넣기 -->
    <!-- scr : 이미지의 위치 (웹 경로를 따름)-->
    <img src="{% static 'mini2app/images/0_beach.jpg' %}">
</body>

</html>
</html>